{% extends "layout_login.html" %}

{% block body_class %} login-page {% endblock %}

{% block content %}
    <div class="login-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="/" class="h1"><b>Prove</b>Tic</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Iniciar sesión</p>
      
            <form action="{{ url_for('login') }}" method="POST">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                      Remember Me
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
      
           
            <p class="mb-0">
                ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>
            </p>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
{% endblock %}