{% extends "layout_login.html" %}

{% block body_class %} login-page {% endblock %}

{% block content %}
<div class="content">
    <div class="register-box">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="/" class="h1"><b>Prove</b>Tic</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Registrarse</p>
      
            <form  action="{{ url_for('register') }}" method="POST">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" id="username" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retype password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                     Estoy de acuerdo con los <a href="#">Términos y condiciones</a>
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
      
            <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
</div>

{% endblock %}